{% extends 'base.html' %}
{% block content %}
<div class="custom-banner">
    <div class="container py-2 py-md-5">
      <h1 class="text-center">{{current_source.name}}</h1>
      <p class="text-center">{{current_source.description}}</p>
      <div class="row">
        <div class="col-md-4">
          <p>
            <span>Country: </span>
            <span class="ms-3">{{current_source.country}}</span>
          </p>
        </div>
        <div class="col-md-4">
          <p>
            <span>Language: </span>
            <span class="ms-3">{{current_source.language}}</span>
          </p>
        </div>
        <div class="col-md-4">
          <p>
            <span>Category: </span>
            <span class="ms-3 text-capitalize">{{current_source.category}}</span>
          </p>
        </div>
        <div class="col-md-4">
          <p>
            <span>Source: </span>
            <span class="ms-3">
              <a href="{{current_source.url}}" class="custom-link" target="_blank">Visit</a>
            </span>
          </p>
        </div>
      </div>
    </div>
</div>
<div class="cointainer-fluid my-4">
    <div class="row">
        <div class="col-md-8">
            <div class="row">

                {% for article in articles %}
                <div class="col-12 mb-3 mb-md-5">
                  <div class="h-100">
                    <div class="custom-card position-relative">
                      <div class="custom-card-image">
                        <img src="{{article.image_url}}" loading="lazy" alt="{{article.title}}" class="img-top" />
                      </div>
                      <div class="card-title p-2 p-md-3">
                        <h3 class="m-0 p-0">{{article.title}}</h3>
                      </div>
                      <div class="custom-card-footer p-2 p-md-3">
                        <div class="d-flex">
                          <div class="sect">
                            <span>Author: </span>
                            <span> {{article.author}} </span>
                          </div>
                          <div class="sect ms-4">
                            <span>Source: </span>
                            <span>
                              <a href="{{article.url}}" class="custom-link">Go to source</a>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="card-description p-2 p-md-3">
                        <p>{{article.description}}</p>
                      </div>
                      <div class="content p-2 p-md-3">
                        <p>
                          {{article.content}}
                        </p>
                      </div>
                      <div class="read-more p-2 p-md-3">
                        <a href="{{article.url}}" class="btn btn-primary">Read more</a>
                      </div>
                    </div>
                  </div>
                </div>

                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="custom-card p-2 p-md-3">
                <h2 class="text-center mb-3">More News Sources</h2>
                <div>
                  {% for source in sources %}
                  <div class="source-item mb-2">
                    <a href="/sources/view/{{source.id}}/" class="custom-link d-block">{{source.name}}</a>
                  </div>
                  {% endfor %}
                </div>
              </div>
        </div>
    </div>
</div>
  

{% endblock %}